.ingredientDetails {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title {
  width: 616px;
  color:#F2F2F3;
  padding: 0;
  margin: 0;
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
}

.titlePage {
  width: 616px;
  color:#F2F2F3;
  padding: 120px 0 0;
  margin: 0;
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
}

.image {
  width: 480px;
  height: 240px;
  object-fit: cover;
  display: block;
}

.name {
  color: #F2F2F3;
}

.container {
  display: flex;
}

.details {
  display: flex;
  flex-direction: column;
  align-items: center;
}
