.header {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 16px 320px;
}

.nav {
  display: flex;
}

.headerItem {
  padding: 16px 20px;
  display: flex;
  align-items: center;
  text-decoration: none;
}

.headerItem:hover {
  opacity: .7;
}

.navItem:first-of-type {
  margin-right: 8px;
}

.title {
  display: flex;
  align-items: center;
  padding: 0;
  white-space: nowrap;
  color: #8585AD;
}

.titleActive {
  display: flex;
  align-items: center;
  padding: 0;
  white-space: nowrap;
  color: white;;
}


.logo {
  display: flex;
  align-items: center;
  margin: 0 289px 0 130px;
  padding: 0;
}

.logo:hover {
  opacity: .7;
}

@media screen and (max-width: 1500px) {
  .logo {
    margin-left: 20px;
    margin-right: 145px;
  }
}
